.bg-blue {background:#0e1651;color:#fff!important;}
.margin-t-60 {margin-top:60px;}
/*--------------------------------------
 Sets the actionable area for the kfc
 including a label for usability
--------------------------------------*/
.kfc,
.kfc:after,
.kfc *,
.kfc *:before,
.kfc *:after,
.header-nav *,
.header-nav *:before,
.header-nav *:after {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.kfc {
    cursor: pointer;
    height: 60px;
    margin-bottom: 0;
    width: 60px;
    z-index: 9001;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    background: #08c;
}

.kfc:after {
    bottom: 7px;
    color: #FFFFFF;
    /*content: 'Menu';*/
    font-size: 13px;
    font-weight: 300;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}


/*--------------------------------------
 Creates the look of the kfc icon
 using the inner span and pseudo-elements
--------------------------------------*/

.kfc span,
.kfc span:before,
.kfc span:after {
    background: #FFFFFF;
    border-radius: 0.2em;
    height: 4px;
    left: 10px;
    position: absolute;
    top: 22px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 40px;
}


/* Reset the left and create the pseudo-element */

.kfc span:before,
.kfc span:after {
    content: '';
    left: 0;
}


/* Top bar position */

.kfc span:before {
    top: -8px;
}


/* Bottom bar position */

.kfc span:after {
    top: 8px;
}


/* Get rid of more on action (IE9 or higher) */

.kfc-check:checked + .kfc:after {
    content: '';
}


/* Get rid of the middle bar on action (IE9 or higher) */

.kfc-check:checked + .kfc span {
    height: 0;
    width: 0;
}


/* Moves the top and bottom bars to the middle on action (IE9 or higher) */

.kfc-check:checked + .kfc span:before,
.kfc-check:checked + .kfc span:after {
    top: 6px;
}


/* Rotates the top bar on action with full browser support (IE9 or higher) */

.kfc-check:checked + .kfc span:before {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}


/* Rotates the bottom bar on action with full browser support (IE9 or higher) */

.kfc-check:checked + .kfc span:after {
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(-225deg);
}

#mobile-nav:focus + .kfc,
.kfc:focus,
.kfc:hover {
    background: rgba(0, 136, 204, 0.9);
}

.kfc-check:checked + .kfc {
    width: 200px;
}

.kfc-check:checked + .kfc:after {
    bottom: 18px;
    content: 'Close Menu';
    font-size: 12px;
    padding-left: 30px;
}

#mobile-nav {
    left: -9999px;
    position: fixed;
    top: 0;
}

.header-nav ul li a:active,
.header-nav ul li a:focus,
.header-nav ul li a:hover,
#mobile-nav:focus + .kfc,
.kfc:focus,
.kfc:hover {
    background: rgba(0, 0, 0, 0.1);
    outline: none;
    border-bottom: 1px solid #5a5a5a;
}

.fixed-nav {
    background: #08c;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 9000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.header-nav {
    float: left;
    height: 60px;
    position: relative;
    width: 100%;

}

.header-nav ul {
    background: #fff;

    height: calc(100vh - 60px);
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 10px 0 0 0;
    position: absolute;
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    width: 200px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);
    top: 100%;
    z-index: 1;
}

.kfc-check:checked ~ .header-nav ul {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.header-nav ul li {
    float: left;
    position: relative;
    width: 100%;
}

.header-nav ul li a {

    color: rgba(50, 50, 51, 0.8);
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 24px;
    margin-left: 0;
    overflow: hidden;
    padding: 12px 60px 12px 12px;
    position: relative;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.bg-light {
    background-color: #08c!important;
}

body{
    padding: 0;
}